body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1, h3{
    color: #473b8c;
}

.button-section {
    background-color: #a3a367;
    color: navajowhite;
    padding: 2em;
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #302859;
    color: wheat;
}

#loginTenantForm, #loginLandlordForm, #registrationForm, #register-success, #login-success, #search-input{
    margin-top: 2.2em;
    display: none;
}

img {
    width: 40%;
    height: 20em;
    margin: 3em auto;
    border-radius: 10px;
}
